In [44]:
from scipy.stats import pearsonr
from scipy import stats
import pandas as pd
import numpy as np

In [4]:
dark_circles = pd.read_csv('dark2.csv')
dark_circles

   m        r2       err
0  1   8.42724  1.836000
1  2  15.76280  2.511000
2  3  22.18610  2.979000
3  4  28.93400  3.401999
4  5  35.04380  3.743998
5  6  41.92250  4.094997
6  7  49.41720  4.445996
7  8  57.96050  4.814997

In [5]:
light_circles = pd.read_csv('light2.csv')
light_circles

   m       r2       err
0  1   5.1194  1.431000
1  2  11.1830  2.114994
2  3  19.2099  2.771996
3  4  24.1025  3.104996
4  5  31.7552  3.563998
5  6  38.6712  3.932999
6  7  44.7322  4.229998
7  8  52.2579  4.571997

In [6]:
print(pearsonr(dark_circles.m,dark_circles.r2))

(0.99905969219558566, 2.0770349408610651e-09)

In [7]:
print(pearsonr(light_circles.m,light_circles.r2))

(0.99940191276195267, 5.3461210178114322e-10)

In [8]:
x = range(-3,4,1)
y = [-632, -388, -200, 0, 188, 384, 564]
print(pearsonr(x,y))

(0.99925309556248898, 2.9271342677853188e-08)

In [29]:
import statsmodels.api as sm

In [33]:
lin_reg = sm.OLS(light_circles.r2, light_circles.m)
res = lin_reg.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     r2   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                     7540.
Date:                Fri, 20 Apr 2018   Prob (F-statistic):           7.08e-12
Time:                        01:08:26   Log-Likelihood:                -11.216
No. Observations:                   8   AIC:                             24.43
Df Residuals:                       7   BIC:                             24.51
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
m              6.3898      0.074     86.830      0.000       6.216       6.564
==============================================================================
Omnibus:                        0.570   Durbin-Watson:                   1.073
Prob(Omnibus):                  0.752   Jarque-Bera (JB):                0.484
Skew:                           0.026   Prob(JB):                        0.785
Kurtosis:                       1.796   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/vladimir/.virtualenvs/plots/lib/python3.5/site-packages/scipy/stats/stats.py:1390: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  "anyway, n=%i" % int(n))

In [47]:
dark_circles['s'] = np.abs((dark_circles.r2-dark_circles.m*7.15)/dark_circles.err)
dark_circles['pvalue'] = stats.t.sf(dark_circles.s, 6)
dark_circles

   m        r2       err         s    pvalue
0  1   8.42724  1.836000  0.695664  0.256334
1  2  15.76280  2.511000  0.582557  0.290704
2  3  22.18610  2.979000  0.247096  0.406536
3  4  28.93400  3.401999  0.098178  0.462495
4  5  35.04380  3.743998  0.188622  0.428304
5  6  41.92250  4.094997  0.238706  0.409639
6  7  49.41720  4.445996  0.142330  0.445739
7  8  57.96050  4.814997  0.157944  0.439841

In [48]:
light_circles['s'] = np.abs((light_circles.r2-light_circles.m*7.15+3.49)/light_circles.err)
light_circles['pvalue'] = stats.t.sf(light_circles.s, 6)
light_circles

   m       r2       err         s    pvalue
0  1   5.1194  1.431000  1.019847  0.173574
1  2  11.1830  2.114994  0.176360  0.432907
2  3  19.2099  2.771996  0.450903  0.333948
3  4  24.1025  3.104996  0.324477  0.378296
4  5  31.7552  3.563998  0.141639  0.446001
5  6  38.6712  3.932999  0.187846  0.428594
6  7  44.7322  4.229998  0.432104  0.340381
7  8  52.2579  4.571997  0.317607  0.380773